! URXVT

! fonts
URxvt.font: xft:Fira Mono:12,xft:Wuncon Siji:size=12
! URxvt.boldFont: -uw-ttyp0-bold-r-*-*-*-160-*-*-*-*-*-*

! settings
URxvt.scrollBar: 0
URxvt.cursorBlink: 1
URxvt.internalBorder: 15
URxvt.geometry: 70x30

! extensions
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: firefox
URxvt.matcher.rend.0: fg13
URxvt.matcher.button: 3
! FONTS

! lo dpi
! Xft.dpi: 192
! hi dpi
Xft.dpi: 192
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! THEMING

! special
*.foreground:   #fdfdfd
*.background:   #303030
*.cursorColor:  #fdfdfd

! black
*.color0:       #303030
*.color8:       #878787

! red
*.color1:       #ff00ff
*.color9:       #ff87d7

! green
*.color2:       #a3d4a3
*.color10:      #afffd7

! yellow
*.color3:       #ffffaf
*.color11:      #ffffaf

! blue
*.color4:       #87ffff
*.color12:      #afffff

! magenta
*.color5:       #afafd7
*.color13:      #ffafdf

! cyan
*.color6:       #87ffff
*.color14:      #afffff

! white
*.color7:       #878787
*.color15:      #ffffff

! xcursor
Xcursor.theme: DMZ-White
Xcursor.size: 48

! ROFI

! settings
! lo dpi
rofi.font: Fira Mono 12
! hi dpi
rofi.font: Fira Mono 24
rofi.separator-style: none
rofi.scrollbar-width: 0
rofi.padding: 15
rofi.width: 30
rofi.lines: 5
rofi.bw: 0

! colors
rofi.color-window: #EEEEEE, #EEEEEE, #EEEEEE
rofi.color-normal: #EEEEEE, #021B21, #EEEEEE, #EEEEEE, #FF99A1
rofi.color-active: #EEEEEE, #021B21, #EEEEEE, #EEEEEE, #FF99A1
rofi.color-urgent: #EEEEEE, #065F73, #EEEEEE, #EEEEEE, #A2D9B1
