#!/bin/sh

setxkbmap -option ctrl:nocaps

xset s off -dpms -b
setxkbmap -option ctrl:nocaps
xsetroot -cursor_name left_ptr

# theming
xrdb "${HOME}/.Xresources"

killall detect_monitor 2>/dev/null
${HOME}/bin/detect_monitor &

dunst &
