# Notify when charging status changes
SUBSYSTEM=="power_supply", ATTR{status}=="Charging", RUN+="/usr/bin/su ktravis -c /home/ktravis/bin/batstatus"
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", RUN+="/usr/bin/su ktravis -c /home/ktravis/bin/batstatus"
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="/usr/bin/systemctl hibernate"
